/* Estilo para el contenedor de las tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Estilo para los contenedores de las tarjetas */
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
    width: calc(33.33% - 20px); /* El ancho es 1/3 del contenedor menos los márgenes */
    box-sizing: border-box; /* Incluye los bordes y los rellenos en el ancho */
  }
  
  /* Estilo para la foto del gato */
  .card img {
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
  
  /* Estilo para el título del gato */
  .card h2 {
    color: #333;
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  /* Estilo para la descripción del gato */
  .card p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
  }
  